<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <property name="M_PI" value="3.1415926535897931" />
  <property name="M_PI_2" value="1.570796327" />

  <!-- Macro for calculating inertia of cylinder -->
  <macro name="cylinder_inertia" params="m r h">
    <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
              iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
              izz="${m*r*r/2}" />
  </macro>

  <macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
              iyy="${m*(x*x+z*z)/12}" iyz = "0"
              izz="${m*(x*x+y*y)/12}" /> 
  </macro>

  <macro name="sphere_inertia" params="m r">
    <inertia  ixx="${2*m*r*r/5}" ixy = "0" ixz = "0"
              iyy="${2*m*r*r/5}" iyz = "0"
              izz="${2*m*r*r/5}" /> 
  </macro>

  <xacro:property name="config_file"
                 value="$(find robot_description)/urdf/config/config.yaml"/>
  <xacro:property name="config" value="${load_yaml(config_file)}"/>
  
  <xacro:if value="${'body' in config}">
    <xacro:property name="body" value = "${config['body']}"/>
  </xacro:if>
  <xacro:if value="${'wheel' in config}">
    <xacro:property name="wheel" value = "${config['wheel']}"/>
  </xacro:if>
  <xacro:if value="${'caster' in config}">
    <xacro:property name="caster" value = "${config['caster']}"/>
  </xacro:if>

  <xacro:include filename="$(find robot_description)/urdf/body.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/wheel.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/caster.xacro" />

  <link name="base_link">
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Yellow</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <body/>

  <caster/>

  <wheel lr="left" flip="1"/>
  <wheel lr="right" flip="-1"/>

</robot>