<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <property name="M_PI" value="3.1415926535897931" />
  <property name="M_PI_2" value="1.570796327" />

  <xacro:property name="config_file"
                 value="$(find robot_description)/urdf/config/config.yaml"/>
  <xacro:property name="config" value="${load_yaml(config_file)}"/>
  
  <xacro:if value="${'body' in config}">
    <xacro:property name="body" value = "${config['body']}"/>
  </xacro:if>
  <xacro:if value="${'wheel' in config}">
    <xacro:property name="wheel" value = "${config['wheel']}"/>
  </xacro:if>
  <xacro:if value="${'caster' in config}">
    <xacro:property name="caster" value = "${config['caster']}"/>
  </xacro:if>

  <xacro:include filename="$(find robot_description)/urdf/body.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/wheel.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/caster.xacro" />

  <link name="base_link">
  </link>

  <body/>

  <caster/>

  <wheel lr="left"/>
  <wheel lr="right"/>

</robot>